* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #cfd6de;
    padding: 30px;
}

.navbar-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 80px;
}
.artwork-container {
    max-width: 400px; /* Adjust this value based on your layout */
    margin: auto; /* Center the container */
}

.artwork-image {
    width: 100%;
    height: auto;
    min-height: 200px; /* Adjust this value as needed */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the button hover effect */
.button:hover {
    background-color: #0056b3;
}