@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pontano+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    padding: 30px;
}

.navbar-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-bottom p {
    margin: 15px 0;
    font-size: 13px;
}

hr {
    margin: 20px 0;
    opacity: 0.4;
}

img {
    width: 80px;
    opacity: 1;
    transition: .5s ease;
}

img:hover {
    opacity: .7;
    transition: .5s ease;
}

.wrapper {
    background-color: rgb(245, 243, 240);
    padding: 0 20px 60px 20px;
}

.artwork-container-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.artwork-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.artwork-image-desktop {
    display: none;
}

.artwork-image {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 10px 0;
}

.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    font-weight: 800;
    color: #0F1111;  
    font-family: 'Pontano Sans', sans-serif;  
}

.button:hover  {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}

h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
}

h3 {
    padding: 10px 0;
}

p {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
}

a {
    color: #bd9090;
}

a:hover {
    color: #744949;
}

a:focus {
    color:#995959;
}

a:visited {
    color:#000000;
}

.footer {
    background-color: #fbfbfb;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1025px) {

    .navbar-bottom p {
        margin-bottom: 20px;
    }

    .wrapper {
        background-color: rgb(245, 243, 240);
        padding: 0;
    }

    .artwork-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .image-wrapper {
        padding: 0;
        grid-area: 1 / 1 / 2 / 3; 
    }

    .artwork-container-wrapper {
        grid-area: 1 / 2 / 2 / 3;
        align-items: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        padding: 60px 80px ; 
        line-height: 1.8rem;
        text-align: left;
    }

   .artwork-image-desktop {
    display: flex;
    width: 50%;
    max-height: 100vh;
   }

   .artwork-image {
    display: none;
   }

   .footer {
    height: 200px;
    background-color: #fbfbfb;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}